<div class="container my-5">
       <h1 class="mb-3">Добавление студента</h1>
       <div class="row">
       <div class="col-7">
       <form #form="ngForm" (ngSubmit)="addStudent()">
        <div class="form-group mt-3">
          <label for="lastname" class="form-label">Фамилия</label>
          <input type="text" class="form-control" 
                    id="lastname" 
                    name="lastname"
                    [(ngModel)]="addStudentRequest.lastname"  
                    placeholder="Иванов">
        </div>
        <div class="form-group mt-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" 
                    id="name" 
                    name="name"
                    [(ngModel)]="addStudentRequest.name"  
                    placeholder="Иван">
        </div>
        <div class="form-group mt-3">
            <label for="middlename" class="form-label">Отчество</label>
            <input type="text" class="form-control" 
                    id="middlename" 
                    name="middlename"
                    [(ngModel)]="addStudentRequest.middlename" 
                    placeholder="Иванович">
        </div>
        <button type="submit" class="btn btn-primary mt-5">Добавить</button>
      </form>
    </div>
    </div>
</div>
