<style>
    .home-page {
      display: flex;
      justify-content: last baseline;
      align-items: center;
      height: 100vh;
      background-image: url("assets/image/main.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .home-page .content {
      background-color: rgba(0, 0, 0, 0); 
      color: white;
      padding: 20px;
    }
</style>
  
<div class="home-page">
    <div class="content">
      <h1 >Universitet</h1>
      <p>Добро пожаловать на сайт Университета! <br>
         Он создан с использованием передовых технологий Angular 14 CRUD и .NET 6 Web API,<br>
          обеспечивая максимальную функциональность и удобство в использовании. <br>
          Университет предлагает широкий спектр возможностей. Вы сможете легко<br>
          просмотреть списки преподавателей, курсов, групп и студентов.</p>
    </div>
</div>
  

