<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Студенты</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<div class="container-sm mt-5 mb-5">
<div class="table-responsive overflow-y-scroll hover:overflow-scroll">
    <table class="table table-hover table-bordered container:max-width=100px">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Номер группы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</th>
                <td scope="row">Иванов</th>
                <td scope="row">Иван</th>
                <td scope="row">Иванович</th>
                <td scope="row">20 ИУ-3</th>  
            </tr>
            <tr>
                <td scope="row">2</th>
                <td scope="row">Петров</th>
                <td scope="row">Петр</th>
                <td scope="row">Петрович</th>
                <td scope="row">20 ИУ-1</th>  
            </tr>
            <tr>
                <td scope="row">3</th>
                <td scope="row">Александров</th>
                <td scope="row">Александр</th>
                <td scope="row">Александрович</th>
                <td scope="row">20 ИУ-2</th>  
            </tr>
            <tr>
                <td scope="row">4</th>
                <td scope="row">Васильев</th>
                <td scope="row">Василий</th>
                <td scope="row">Васильевич</th>
                <td scope="row">20 ИУ-3</th>  
            </tr>
            <tr>
                <td scope="row">4</th>
                <td scope="row">Васильев</th>
                <td scope="row">Василий</th>
                <td scope="row">Васильевич</th>
                <td scope="row">20 ИУ-3</th>  
            </tr>
            <tr>
                <td scope="row">4</th>
                <td scope="row">Васильев</th>
                <td scope="row">Василий</th>
                <td scope="row">Васильевич</th>
                <td scope="row">20 ИУ-3</th>  
            </tr>
            <tr>
                <td scope="row">4</th>
                <td scope="row">Васильев</th>
                <td scope="row">Василий</th>
                <td scope="row">Васильевич</th>
                <td scope="row">20 ИУ-3</th>  
            </tr>
            <tr>
                <td scope="row">4</th>
                <td scope="row">Васильев</th>
                <td scope="row">Василий</th>
                <td scope="row">Васильевич</th>
                <td scope="row">20 ИУ-3</th>  
            </tr>
            
        </tbody>
    </table>
</div>
</div>