<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<div class="container-sm mt-5 mb-5" 
    style="width: 80%; height: 500px; overflow-y: scroll;">
    <a href="/teacher-edit" class="btn btn-primary mb-2">Добавить</a>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
            </tr>
        </thead>
        <tbody>
            <tr data-href="https://google.com/">
                <td scope="row">1</td>
                <td scope="row">Петров</td>
                <td scope="row">Петр</td>
                <td scope="row">Петрович</td>
            </tr>
            <tr data-href="https://google.com/">
                <td scope="row">2</td>
                <td scope="row">Петров</td>
                <td scope="row">Петр</td>
                <td scope="row">Петрович</td>
            </tr>
            <tr *ngFor="let te of teachers">
                <td scope="row">{{te.id}}</td>
                <td scope="row">{{te.lastname}}</td>
                <td scope="row">{{te.name}}</td>
                <td scope="row">{{te.middlename}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", ()=> {
        const rows = document.querySelectorAll("tr[data-href]");
        console.log(rows);
    });
 </script>


