<div class="container-sm mt-5 mb-5" 
    style="width: 80%; height: 500px; overflow-y: scroll;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Номер группы</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let st of students">
                <td scope="row">{{st.id}}</td>
                <td scope="row">{{st.lastname}}</td>
                <td scope="row">{{st.lastname}}</td>
                <td scope="row">{{st.lastname}}</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">1</td>
                <td scope="row">Иванов</td>
                <td scope="row">Иван</td>
                <td scope="row">Иванович</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">2</td>
                <td scope="row">Петров</td>
                <td scope="row">Петр</td>
                <td scope="row">Петрович</td>
                <td scope="row">20 ИУ-1</td>  
            </tr>
            <tr>
                <td scope="row">3</td>
                <td scope="row">Александров</td>
                <td scope="row">Александр</td>
                <td scope="row">Александрович</td>
                <td scope="row">20 ИУ-2</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
            <tr>
                <td scope="row">4</td>
                <td scope="row">Васильев</td>
                <td scope="row">Василий</td>
                <td scope="row">Васильевич</td>
                <td scope="row">20 ИУ-3</td>  
            </tr>
        </tbody>
    </table>
</div>

